<!DOCTYPE html>
<html>
  <head>
    <title>Maverix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class= '<%= controller.controller_name%>'>
    <div id = "banner">
      <%= image_tag("64x64.png")%>
      <%= @page_title || "Shop Maverix"%>
    </div>

    <div id = "columns">
      <div id = "side">
        <div id = "cart">
          <%= render @cart if @cart %>
        </div>  
        
        <ul>
          <li><%= link_to 'Home', store_path %></li>
          <li><%= link_to 'Add', new_product_path(@products) %></li>
          <li><%= link_to 'Orders', orders_path(@order) %></li>
          <li>Contact</li>
        </ul>
      </div>
      <div id = "main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
